/* whole page styles */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

:root {
    --header-height: 50px;
}

.hidden {
    display: none;
}

.material-symbols-outlined.md-48 {
    font-size: 48px;
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'OPSZ' 48;

    /* border: 2px solid red; */
}

.hamburger-icon {
    position: fixed;
    width: 100vw;
    cursor: pointer;
    background-color: #fff;
}

.hamburger-icon span {
    display: block;
    width: max-content;
    padding: 10px 10px;
    float: right;
}

.close-icon span{
    display: block;
    width: 100%;
    color: #fff;
    /* border: 2px solid red; */
}

.close-icon {
    position: fixed;
    right: 0px;
    /* clear: both; */
    cursor: pointer;
    background-color: rgb(84, 84, 84);
    /* border: 2px solid red; */
    z-index: 3;  
}

/* .sidebar-wrapper {
    display: block;
}  */

.sidebar {
    position: fixed;
    /* top: 48px; */
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: stretch;
    width: 50%;
    height: 100vh;
    padding-top: 48px;
    background-color: rgb(84, 84, 84);
    z-index: 2;
    /* border: 2px solid red; */
}

.sidebar-nav-wrapper {
    /* border: 2px solid red; */
    width: 100%;
}

.sidebar-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    /* border: 2px solid red; */
}

.sidebar-nav li {
    list-style-type: none;
    padding: 20px 10px;
    width: 66%;
    border-bottom: 2px solid #fff;
}

.sidebar-nav li:last-of-type {
    border-bottom: none;
    margin-top: 20px;
}

.sidebar-nav a:link,
.sidebar-nav a:visited {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav a.resume:link,
.sidebar-nav a.resume:visited {
    color: rgb(37, 37, 183);
    border: 2px solid rgb(37, 37, 183);
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
}

body.blur {
    overflow: hidden;
}

body.blur .content > * {
    filter: blur(5px); 
}

main {
    padding-top: var(--header-height);
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

p {
    margin: 20px 10px;
}

h2 {
    padding: 50px 0;
}

/* header styles */
header {
    position: fixed;
    height: var(--header-height);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #fff;
}
ul.menu {
    display: flex;
    justify-content: flex-end;
}

ul.menu li {
    padding: 10px 20px;
    /* margin-left: 20px; */
    list-style-type: none;
}

.menu a:link,
.menu a:visited {
    text-decoration: none;
    color: black;
}

.menu li:hover {
    background-color: rgba(180, 180, 180, 0.336);
    border-bottom: 2px solid rgb(62, 62, 240);

}

.menu li:last-of-type:hover {
    background-color: transparent;
    border-bottom: none;
}

.menu a.resume:link, 
.menu a.resume:visited {
    color:rgb(62, 62, 240);
    border: 2px solid rgb(62, 62, 240);
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
}

/* section styles */
/* section {
    border: 1px solid black;
} */

/* section {
    height: 100vh;
} */

/* .profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */

.profile {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

/* .img-container {
    border: 5px solid rgb(62, 62, 240);
    border-radius: 10px;
    margin-left: 50px;
    
}  */

.img-container img {
    width: 100%;
    display: block;
    /* position: relative;
    bottom: 20px;
    right: 20px; */
    border-radius: 10px;
}

/* .description {
    width: 900px;
    margin-bottom: 50px;
} */

/* hero banner styling */
.banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: clamp(40px, 8vw, 80px);
    color: rgb(74, 74, 74);
    /* transition-delay: 200ms; */

    
}

h1 span {
    color: rgb(62, 62, 240);
}

h1 div:first-of-type {
    /* fade in animation */
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 2s;
}

h1 div:last-of-type {
    display: block;

    /* fade in animation */
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein 2s;
}

/* work exerperience styles */

.container {
    /* margin: 50px auto; */
    max-width: 700px;
    width: 100%;
    /* border: 1px solid black; */
  /*   border-radius: 10px; */
  }
  
.tab-list ul {
list-style-type: none;
display: flex;
overflow-x: auto;
margin: 0;
}

.tab-list button {
border: none;
padding: 20px 50px;
margin: 0;
/* border-bottom: 2px solid gray; */
background-color: #fff;
width: max-content;
}

.tab-list button:hover {
background-color: #f0f0f0;
}

.tab-list li {
    border-bottom: 2px solid gray;
}

.tab-list li:first-of-type {
/*   background-color: #f0f0f0; */
border-bottom: 2px solid blue;
/*   outline: none; */
/*   border: none; */
}

/* .jobs {
height: 500px;
} */

.jobs div {
display: none;
}

.jobs div:first-of-type {
    display: block;
}

.job ul {
    display: flex;
    flex-direction: column;
}



/* footer styles */
footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

a.socials:link,
a.socials:visited {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 600px) {
    .profile {
        display: block;
    }

    .img-container img {
        margin: 50px auto;
    }

    .hamburger-icon {
        display: block;
    }

    header {
        display: none;
    }
    
}

@media only screen and (min-width: 601px) {
    .hamburger-icon {
        display: none;
    }

    header {
        display: flex;
    }

}

@keyframes fadein {
    from { opacity: 0; }
    to   {opacity: 1;}
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
