* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul.menu {
    display: flex;
    justify-content: flex-end;
}

.menu a:link {
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

header li {
    padding: 10px;
    margin-left: 20px;
    list-style-type: none;
}

main {
    padding-top: 30px;
}

p {
    margin: 20px 10px;
}

main li {
    margin-left: 20px;
}

footer ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.profile {
    display: flex;
}

.profile-img {
    width: 25%;
    display: block;
    margin-left: 50px;
}

a.socials:link,
a.socials:visited {
    text-decoration: none;
    color: black;
}

.banner {
    padding-top: 50px;
    padding-bottom: 50px;
}