.sticky {
    position: sticky;
    top: 0px;
}

.headerContainer {
    z-index: 1;
    max-width: 1700px;
    margin: 0 auto;
}

.header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: inherit;
    padding-top: 10px;
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.795);
    /* border: 1px solid red; */
}

.mailIcon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

.mobileHeader {
    /* position: sticky; */
    /* top: 0px; */
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: var(--card-bg-color);
    box-shadow: 0px 20px 20px var(--main-bg-color);
    
    z-index: 50;
}

.headerOn {
    transform: translateY(0);
    transition: all .2s ease-in-out;
    
}

.headerOff {
    transform: translateY(-50px);
    transition: all .2s ease-in-out;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu li {
    padding: 10px 20px;
    list-style-type: none;
    cursor: pointer;
}

.menu li:last-of-type {
    display: flex;
    align-items: flex-start;
}

.headerLink {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.headerLink::after {
    content: ' ';
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 0;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.795);
    background-color: black;
    
    /* transform-origin: left; */
    transition: width .3s ease-in-out;
}

.menu a:link,
.menu a:visited {
    text-decoration: none;
    color: black;
}

/* .menu li:hover {
    font-weight: bold;
} */

.menu li:hover .headerLink::after {
    width: 100%;
}