.ml8 {
    margin-left: 8px;
}

.mr16 {
    margin-right: 16px;
}

.svg12 {
    width: 12px;
    height: 12px;
}

.svg18 {
    width: 18px;
    height: 18px;
}

.flex {
    display: flex;
}

.flexCenter {
    align-items: center;
}

.heroBanner {
    width: 100%;
    height: 65vh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 1px solid red; */
}

.heroBanner h1 {
    display: block;
    font-size: 48px;
    font-weight: 700;
}

.heroBanner h2 {
    display: block;
    margin-bottom: 1.5em;
    font-size: 20px;
}

.infoBlurb p {
    margin-bottom: 1em;
    line-height: 1.25em;
    max-width: 400px;
}

.link {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
}

.socials {
    display: flex;
    align-items: center;
    /* margin-top: 150px; */
    width: 100%;

    color: #fff;
}

.socials ul {
    display: flex;
    list-style: none;
    margin-left: -16px;
    width: 100%;
}

.socials li {
    margin: 0 16px;
    cursor: pointer;
}

/* .socials svg {
    width: 18px;
    height: 18px;
} */

.socials span {
    font-size: 14px;
}


.imageContainer img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 999px;
}

.imageContainer {
    min-width: 48px;
    width: 56px;
    height: 56px;
    border-radius: 999px;
    margin-right: 32px;
}

@media only screen and (min-width: 768px) {
    .heroBanner h1 {
        font-size: 64px;
    }
}
