.sticky {
    position: sticky;
    top: 0px;
}

.projectContainer {
    width: 100%;
}

.projectContainer h2 {
    padding-top: 10px;
    z-index: 2;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}