.projectCard {
    /* border: 1px solid red; */
    background-color: var(--card-bg-color);
    height: fit-content;
    max-width: 350px;
    min-height: 350px;
    /* margin: 0 20px; */
    padding: 16px;
    
}

.projectCard h3 {
    padding: 1rem 0;
    font-size: 24px;
}

.projectCard p {
    padding: 1rem 0;
}

.icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.iconLarge {
    width: 24px;
    height: 24px;
    color: #fff;
}

.tags ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    row-gap: 10px;
    column-gap: 10px;
    padding: 1rem 0;
}

.tags ul li {
    color: var(--main-bg-color);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 10px;
    border-radius: 10px;
    font-size: 14px;
}

/* @media only screen and (min-width: 1024px) {
    .projectCard {
        margin-right: 20px;
    }

    .projectCard:last-of-type {
        margin-right: 0;
    }
} */